*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
$global-font: "Oswald", sans-serif;

$main-page-gradient-color: background
	linear-gradient(90deg, rgb(33, 24, 49) 0%, rgb(24, 26, 61) 26%, rgb(37, 23, 58) 77%, rgb(30, 28, 56) 100%);
$main-letters-color: #d5e0f0;

body {
	background: $main-page-gradient-color;
	color: $main-letters-color;
	font-family: $global-font;
}
