@import "./global";
.start-component {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	z-index: 100;
	&__main-container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__container {
		text-align: center;
		padding: 3em;
	}
	.containers {
		margin: 1.5em 0;
	}
	button {
		min-width: 150px;
	}
	&__short-description {
		margin-bottom: 0.25em;
	}
	.input {
		padding: 0.5em;
		border-radius: 5px;
	}
}
@media (max-width: 576px) {
	.start-component {
		&__difficulty-level-container {
			button {
				margin: 0.5em auto;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

@media (min-width: 992px) {
	.start-component {
		button {
			min-width: 180px;
		}
	}
}
