@import "../global";
.button {
	padding: 0.35em 0.5em;
	margin: 0.25em;
	cursor: pointer;
}
.active-btn {
	background-color: cyan;
}
@media (min-width: 768px) {
	.button {
		padding: 0.45em 0.6em;
	}
}
@media (min-width: 1200px) {
	.button {
		padding: 0.5em 0.8rem;
	}
}
