@import "../global";
.button {
	position: relative;
	padding: 0.5em;
	margin: 0.25em;
	background: $buttons-light-gradient;
	transition: 0.3s ease;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: $active-button-gradient;
		transition: 0.3s ease;
		z-index: -1;
	}
	&:hover {
		color: $main-letters-color;
		z-index: 10;
	}
	&:hover::after {
		left: 0;
	}
}
.active-btn {
	background: $active-button-gradient;
	color: $main-letters-color;
}
@media (min-width: 768px) {
	.button {
		padding: 0.6em;
	}
}
@media (min-width: 1200px) {
	.button {
		padding: 0.8rem;
	}
}
