@import "../global";
.card {
	margin: 2em 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	&__main-container {
		margin: 0.25em;
		width: 45px;
		height: 45px;
		perspective: 1000px;
		cursor: pointer;
	}
	&__container {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 0.3s;
		transform-style: preserve-3d;
	}
	&__back-side,
	&__front-side {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		border-radius: 5px;
	}
	&__front-side {
		background-color: #fff;
		transform: rotateY(180deg);
	}
	&__back-side {
		background: $back-side-card;
		transform: rotateY(0deg);
	}
	.front-back-side-card {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
	.rotate {
		transform: rotateY(180deg);
	}
}
@media (min-width: 376px) {
	.card {
		&__main-container {
			width: 55px;
			height: 55px;
		}
	}
}
@media (min-width: 576px) {
	.card {
		width: 550px;
		&__main-container {
			width: 70px;
			height: 70px;
		}
	}
}
@media (min-width: 768px) {
	.card {
		width: 750px;
		&__main-container {
			width: 80px;
			height: 80px;
		}
	}
}